.row{ display: flex;
justify-content: center;}

.col{ display: inline;
height: 200px;
width: 200px;
border: 2px solid black; 
border-radius: 5px;}



#bloco1{ background-color: red;}

#bloco2{ background-color: blue; }

#bloco3{ background-color: yellow; }

#bloco4{ background-color: green; }